<script type="text/javascript">
    $(window).load(function () {
        setActiveMenuElement("menu_epg");
    });
</script>
<% @channels.each do |channel| %>
    <div class="epglisting">
      <div class="channelinfo"><%= channel.display_name %></div>
      <div class="programmes">
        <% channel.programmes.each do |programme|
          if DateTime.now >= programme.start
            spanclass = "current"
          end
        %>
            <div class="programmeinfo">
        <span class="<%= spanclass %>">
          <%= programme.start.localtime.to_formatted_s(:time) %>
          <%= programme.title %>
        </span>
            </div>
        <% end %>
      </div>
    </div>

<% end %>
